@model WebStore.ViewModels.EmployeeViewModel

@{
	ViewData["Title"] = "Delete";
}

<div class="container" style="margin-top: 80px;">
 <h3>Вы уверенны, что хотите удалить выбранного сотрудника?</h3>
 <div>
  <hr />
  <dl class="row">
   <dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Id)
   </dt>
   <dd class="col-sm-10">
				@Html.DisplayFor(model => model.Id)
   </dd>
   <dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.FirstName)
   </dt>
   <dd class="col-sm-10">
				@Html.DisplayFor(model => model.FirstName)
   </dd>
   <dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.LastName)
   </dt>
   <dd class="col-sm-10">
				@Html.DisplayFor(model => model.LastName)
   </dd>
   <dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.MiddleName)
   </dt>
   <dd class="col-sm-10">
				@Html.DisplayFor(model => model.MiddleName)
   </dd>
   <dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Age)
   </dt>
   <dd class="col-sm-10">
				@Html.DisplayFor(model => model.Age)
   </dd>
  </dl>

  <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
   <input type="submit" value="Удалить" class="btn btn-danger" />
   <a asp-action="Index" class="btn btn-dark">Назад</a>
  </form>
 </div>
</div>
